<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link th:href="@{/style/bootstrap.css}" rel="stylesheet" />
</head>
<body style="height: 100vh !important;">

<div class="container-fluid h-100">
    <div class="row h-100">
        <div class="col-2 h-100 p-0">
            <div class="h-100" th:insert="~{fragments/menu}"></div>
        </div>
        <div class="col-10 h-100">
            <div class="card">
                <div class="card-header text-center">
                    <h3>Users list</h3>
                </div>
                <a th:href="@{'/add-user'}"><button class="btn btn-primary">Add user</button></a>
                <div class="card-body">
                   <div class="d-flex justify-content-between" th:each="userOne: ${userDtos}">
                       <a class="w-100" th:href="@{'/user/' + ${userOne.userName}}">
                           <div class="card">
                               <div class="card-header" th:text="${userOne.userName}"/>
                               <div class="card-body" th:text="${userOne.phoneNumber}"/>
                               <div class="card-body" th:text="${userOne.comment}"/>
                           </div>
                       </a>
                       <div>
                           <a class="w-100" th:href="@{'/edit-user/' + ${userOne.userName}}"><button class="btn btn-warning w-100">Edit</button></a>
                           <br>
                           <br>
                           <br>
                           <a class="w-100" th:href="@{'/api/v1/users/delete/'+${userOne.userName}}"><button class="btn btn-danger w-100">Delete</button></a>
                       </div>
                   </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>